{% extends "base.html" %}
{% load staticfiles %}
{% load analysis_tags %}
{% block content %}

    <div class="flex-nav">
        {% include "analysis/pages/nav-sidebar.html" %}
        <section class="flex-nav__body cuckoo-analysis" tabindex="0">

            <!-- common analysis page header -->
            <header class="page-header cuckoo-analysis__header">
                <h1>Dynamic Analysis </h1>
                {% if report.analysis.target.category == "file" %}
                <div class="header-right">
                    <span class="file-name"><i class="fa fa-file-o"></i>
                        {{ report.analysis.target.file.name }}
                    </span>
                </div>
                {% endif %}
            </header>

            <!-- snaps back to default bootstrap layout inside flex frame -->
            <div class="container-fluid">

                <!-- this row breaks into 2 sides -->
                <div class="row">
                    <div class="col-md-8">

                        {% if report.analysis.info.category == "file" and report.analysis.target %}
                            {% include "analysis/pages/dynamicml/_file.html" %}
                        {% endif %}

                    </div>
                    <div class="col-md-4" style="margin-top: 30px;">
                        <h4><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Score</h4>

                        {% if report.analysis.dynamicML.confidence < 10 %}
                            <div class="alert alert-success">
                                This {{ report.analysis.info.category }} appears fairly benign with a score of
                                <strong>{{ report.analysis.dynamicML.confidence }} out of 100.</strong>
                            </div>
                        {% elif report.analysis.dynamicML.confidence < 20 %}
                            <div class="alert alert-info">
                                <p>This {{ report.analysis.info.category }} shows some signs of potential malicious
                                    behavior.</p>
                                <p>The score of this {{ report.analysis.info.category }} is
                                    <strong>{{ report.analysis.dynamicML.confidence }} out of 100.</strong></p>
                            </div>
                        {% elif report.analysis.dynamicML.confidence < 50 %}
                            <div class="alert alert-warning">
                                This {{ report.analysis.info.category }} shows numerous signs of malicious behavior.
                                <br/><br/>
                                The score of this {{ report.analysis.info.category }} is
                                <strong>{{ report.analysis.dynamicML.confidence }} out of 100.</strong>
                            </div>

                        {% elif report.analysis.dynamicML.confidence < 50 and report.analysis.dynamicML.family = "Benign" %}
                            <div class="alert alert-success">
                                <br/><br/>
                                The score of this {{ report.analysis.info.category }} is
                                <strong>{{ report.analysis.dynamicML.confidence }} out of 100.</strong>
                            </div>
                        
                        {% elif report.analysis.dynamicML.confidence >= 50 and report.analysis.dynamicML.family = "Benign" %}
                            <div class="alert alert-success">
                                <p>This {{ report.analysis.info.category }} is <b>Benign</b>, with a score of
                                <strong>{{ report.analysis.dynamicML.confidence }} out of 100!</strong></p>
                            </div>

                        {% else %}
                            <div class="alert alert-danger">
                                <p>This {{ report.analysis.info.category }} is <b>very suspicious</b>, with a score of
                                    <strong>{{ report.analysis.dynamicML.confidence }} out of 100!</strong></p>
                            </div>
                        {% endif %}


                        <p style="font-size: 11px;">
                            <b>Please notice</b>: The scoring system is currently still in development and should be
                            considered an <b><i>alpha</i></b> feature.
                        </p>


                        <hr>


                        <h4><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Feedback</h4>

                        <p style="font-size: 11px;">
                            {% if report.analysis.feedback %}
                                Feedback sent on <b>{{ report.analysis.feedback.date }}</b> Thanks!
                            {% else %}
                                Expecting different results? Send us this analysis and we will inspect it. <a data-toggle="modal" data-target="#feedback_form" href="#">Click here</a>
                            {% endif %}
                        </p>
                    </div>
                </div>

            </div>


            <!-- footer replacement to avoid double scrollbars -->
            <footer class="flex-grid__footer spread-alignment">
                <p class="footnote">
                    &copy;2010-2018 <a href="https://www.cuckoosandbox.org" target="_blank">Cuckoo Sandbox</a>
                </p>
                <div class="logo">
                    <img src="{% static "graphic/cuckoo_inverse.png" %}" alt="Cuckoo Malware Analysis Sandbox" />
                    <a href="#">Back to Top</a>
                </div>
            </footer>

        </section>

    </div>

{% endblock %}

